.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    size: 3
    2px;
    line-height: 48px;
    color: #FF9400;
}

a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #575468;
}

::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #575468; 
}