<!-- Modal quando cpf for inválido -->
<div class="modal" tabindex="-1" id="modalErrorCPF">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Erro no Formulário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ mensagemErro }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button id="btnModal" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modalErrorCPF"></button>
    <div id="divBusca" class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
            <div class="mb-3">
                <label for="txtCPF" class="form-label">Seu CPF</label>
                <input type="txt" class="form-control" id="txtCPF" [(ngModel)]="cliente.cpf">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <button type="button" id="btnBuscar" (click)="buscarCPF()" class="btn">Buscar</button>
        </div>
    </div>
    <br>


    <div id="divDetalhes" *ngIf="visivel">
        <!--Mensagem de boas vindas-->
        <div class="row" *ngIf="achou == false">
            <div class="col-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Seja Bem-vindo!</strong> Cadastre-se e seja nosso cliente especial 😙
                    <button type="button" class="btn-close" (click)="ocultaAlert()" aria-label="Close"></button>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="txtNome" class="form-label">Nome Completo</label>
            <input type="txt" class="form-control" id="txtNome" [(ngModel)]="cliente.nome">
        </div>

        <div class="mb-3">
            <label for="txtEmail" class="form-label">E-mail</label>
            <input type="txt" class="form-control" id="txtEmail" [(ngModel)]="cliente.email">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-3">
                    <label for="txtTelefone" class="form-label">Seu whatsapp</label>
                    <input type="txt" class="form-control" id="txtTelefone" [(ngModel)]="cliente.telefone">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-3">
                    <label for="txtDataNasc" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" inputmode="numeric" id="txtDataNasc"
                        [(ngModel)]="cliente.dataNasc">
                </div>
            </div>
        </div>

        <div class="row mb-3" id="divPergunta" *ngIf="exibirPerguntaEndereco">
            <div class="col-12 mb-3">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Seu endereço {{ msgEndereco }} continua o mesmo?</strong>
                    <button type="button" class="btn-close" (click)="ocultaAlert()" aria-label="Close"></button>
                </div>
                
            </div>
            <div class="col-6 text-center">
                <button class="btn" (click)="ocultarForm()">Sim</button>
            </div>
            <div class="col-6 text-center">
                <button class="btn" (click)="exibirForm()">Não</button>
            </div>
        </div>

        <div *ngIf="exibirFormEndereco">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
                    <div class="mb-3">
                        <label for="txtCEP" class="form-label">CEP</label>
                        <input type="txt" class="form-control" id="txtCEP" [(ngModel)]="cliente.cep">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    <button type="button" id="btnCep" (click)="buscarCEP()" class="btn">Pesquisar</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="txtLogradouro" class="form-label">Logradouro</label>
                <input type="txt" class="form-control" id="txtLogradouro" [(ngModel)]="cliente.logradouro"
                    placeholder="Av. Rua">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="txtNumero" class="form-label">Número</label>
                        <input type="txt" class="form-control" id="txtNumero" [(ngModel)]="cliente.numero">
                    </div>
                </div>

                <div class="col-6">
                    <div class="mb-3">
                        <label for="txtComplemento" class="form-label">Complemento</label>
                        <input type="txt" class="form-control" id="txtComplemento" [(ngModel)]="cliente.complemento">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <div class="mb-3">
                        <label for="txtBairro" class="form-label">Bairro</label>
                        <input type="txt" class="form-control" id="txtBairro" [(ngModel)]="cliente.bairro">
                    </div>
                </div>

                <div class="col-4">
                    <div class="mb-3">
                        <label for="txtCidade" class="form-label">Cidade</label>
                        <input type="txt" class="form-control" id="txtCidade" [(ngModel)]="cliente.cidade">
                    </div>
                </div>

                <div class="col-2">
                    <div class="mb-3">
                        <label for="txtEstado" class="form-label">UF</label>
                        <input type="txt" class="form-control" id="txtComplemento" [(ngModel)]="cliente.estado">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="txtObservacao" class="form-label">Observação do seu pedido</label>
            <input type="txt" class="form-control" id="txtObservacao" [(ngModel)]="pedido.observacoes"
                placeholder="Enviar uma mensagem para a loja">
        </div>

        <div class="row mb-3" *ngIf="!exibirPerguntaEndereco">
            <div class="col-12 text-center">
                <button type="button" class="btn" (click)="finalizarCompra()">Finalizar Compra</button>
            </div>
        </div>
    </div>
</div>