#btnBuscar, #btnCep {
    margin-top: 2em;
    width: 100%;
}

#btnModal {
    visibility: hidden;
}

.btn {
    background-color: #5D0083;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}