<div class="container-fluid">
    <div class="row" id="rodape">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna1">
            <h4>Comprar Eletrônicos</h4>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna2">
            <h6>Entre em contato</h6>
            <p><i class="fab fa-whatsapp"></i> <a href=" https://api.whatsapp.com/send?phone=5592984305052" target="_blank"> (92) 98430-5052</a></p>
        <p><i class="fas fa-globe"></i> www.megastore.com.br </p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna3">
            <h6>Siga no Instagram</h6>
            <p><i class="fab fa-instagram"></i> @megastore </p>
            <p><i class="fas fa-hashtag"></i>megastore</p>
        </div>
    </div>
</div>